# Python-related files
*.pyc
__pycache__/

# Environment variables
.env

# Act configuration and event files
event.json

# Docker-related files
docker-compose.override.yml
.dockerignore

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Python virtual environment
venv/