# General dependencies
kivy==2.1.0
psutil==5.8.0
torch==2.3.1
transformers==4.24.0
tokenizers==0.13.3

# Optional dependencies for building the app (e.g., PyInstaller)
pyinstaller==4.5.1

# Testing dependencies
unittest2==1.1.0